<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Messages</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
<div>
  <form action="#" th:action="@{/main}" th:method="post">
    <label>
      <input type="text" name="text" placeholder="Введите сообщение" />
    </label>
    <label>
      <input type="text" name="tag" placeholder="Тэг" />
    </label>
    <button type="submit">Добавить</button>
  </form>
</div>

<div>Список сообщений</div>
<div th:each="message : ${messages}">
  <div>
    <b th:text="${message.id}"></b>
    <span th:text="${message.text}"></span>
    <i th:text="${message.tag}"></i>
  </div>
</div>

</body>
</html>
